.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #e91a58; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  background-color: rgb(136, 188, 255);
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button{
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  font-size: 2rem;
}
