*{
    margin: 0;padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    align-items: center;
    flex-direction: column;
}
.header{
    position: relative;
    background-color: rgb(70, 70, 70);
    height: 200px;
    width: 800px;
    font-size: 2rem;
    /* margin: 0 auto; */
}
.header .rtnav{
    position: absolute;
    right: 20px;
    top: 20px;
}
.header .rtnav ul{
    list-style: none;
    display: flex;
}
.header .rtnav ul li{
    border: 1px solid black;
    border-collapse: collapse;

}
.header .rtnav ul li:nth-child(1){
    border-radius: 20px 0 0 20px;
}
.header .rtnav ul li:nth-child(4){
    border-radius: 0 20px 20px 0;
}
.header .rtnav ul li a{
    display: inline-block;
    font-size: 2rem;
    padding: 10px;
}
.header .rtnav ul li a:hover{
    background-color: blueviolet;
    color: white;
}
.header .lbnav{
    
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 2rem;
}
.content{
    background-color: rgb(130, 100, 50);
    height: 800px;
    width: 1000px;
}
.footer{
    background-color: aqua;
    height: 100px;
}