<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/common :: head('member')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1>Member</h1>
        <nav th:replace="~{layout/common :: nav('')}"></nav>
        <div class="container">
            <table class="table">
                <tead>
                    <tr>번호
                        <th>아이디</th>
                        <th>유저네임</th>
                        <th>이메일</th>
                        <th>패스워드</th>
                        <th>권한</th>
                    </tr>
                </tead>
                <tbody>
                    <tr th:each="member:${list}">
                        <td th:text="${member.id}">1</td>
                        <td th:text="${member.username}">2</td>
                        <td th:text="${member.email}">3</td>
                        <td th:text="${member.password}">4</td>
                        <td th:text="${member.role}">5</td>
                    </tr>
                </tbody>
            </table>
            <p th:each="member:${list}">
                <span th:text="${member.id}"></span>
                <span th:text="${member.username}"></span>
                <span th:text="${member.role}"></span>
            </p>
        </div>
    </div>
</body>

</html>